/*Freeeducationpage Section Start*/
.freeeducationpageSection{
	margin-top: 60px;
}

.freeeducationContent{
	width: 60% !important;
	margin: 0 auto;
	padding: 60px 0px;
}
/*Freeeducationpage Section End*/